<!DOCTYPE html>
<html>
<head>
  <title>Websocket Client</title>
</head>
<body>
  <input type="text" id="messageInput" placeholder="Type a message">
  <button id="sendButton">Send</button>
  <div id="output"></div>

  <script>
    const socket = new WebSocket('wss://web-socket-demo-edgz.onrender.com/:8080');

    socket.addEventListener('open', (event) => {
      console.log('Connected to server');
    });

    socket.addEventListener('message', (event) => {
      const outputDiv = document.getElementById('output');
      const newMessage = document.createElement('div');
      newMessage.textContent = `Received: ${event.data}`;
      outputDiv.appendChild(newMessage);
    });
    

    document.getElementById('sendButton').addEventListener('click', () => {
      const messageInput = document.getElementById('messageInput');
      socket.send(messageInput.value);
      messageInput.value = '';
    });
  </script>
</body>
</html>
